.dataheading {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  margin: 48px 0 48px 0;
}

.lastUpdate {
  user-select: none;
  cursor: default;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #fff;
}
