:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  box-sizing: border-box;
  --background-color: #0c0d0f;
  --header-color: #3a606b;
  --icon-color: ;
  --button-color: ;
  --accent-color: ;
  --highlight-color: ;
  --shadow-color: ;
  --gradient-color1: ;
  --gradient-color2: ;
  --inactive-color: ;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url("/stacked-waves-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
