.main {
  height: inherit;
  overflow: auto;
  margin-left: 150px;
}

.link {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.menuLinkActive::before,
.menuLink::before {
  content: "";
  background: #fff;
  display: block;
  position: relative;
  top: 20px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 200ms ease-in-out;
}

.menuLink:hover {
  background-position: 0;
}

.menuLink:hover::before {
  width: 100% !important;
}

.menuLinkActive::before {
  width: 100%;
}

.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerBox {
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.menuItems {
  margin: 0 20px;
  cursor: pointer;
  font-weight: 400;
}

.mainHeading {
  font-size: 32px;
  padding-left: 10px;
  font-weight: 600;
  letter-spacing: -2px;
  user-select: none;
}

.icon {
  margin-left: 20px;
}

.homeHeading {
  font-size: 56px;
  font-weight: 700;
}

.subHeading {
  font-size: 32px;
  font-weight: 300;
  margin: 10px 0;
}

.headerSection {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homeSubtitle {
  margin: 0 0 20px 0;
  color: #333333;
  font-weight: 500;
  font-size: 24px;
}

.currentWeather {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.weatherImg {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutHeader {
  font-size: 64px;
  font-weight: 700;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutTextSection {
  font-size: 24px;
}

.aboutText {
  width: 50%;
  min-width: 500px;
}

.chart {
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .chart {
    width: 100%;
    max-width: none;
  }
}
